{{#each staff}}
  <div class="inner-item">
    <span>{{name}}</span>
    <select name="pod-select-for-staff-{{id}}" class="custom-select">
      <option disabled selected>Select a pod...</option>
      {{#each ../pod}}
        <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
{{/each}}
