body {
	padding-top: 70px;
}
.modal-header, .modal-body, .modal-footer{
	padding: 25px;
}
.modal-footer{
	text-align: center;
}
#signup-modal-content, #forgot-password-modal-content{
	display: none;
}

/** validation */
/*
input.parsley-error		{
    border-color:#843534;
    box-shadow: none;
}
input.parsley-error:focus{
    border-color:#843534;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}
.parsley-errors-list.filled {
    opacity: 1;
    color: #a94442;
    display: none;
}

.form-group.error input.parsley-validated{
    color: #b94a48 !important;
    background-color: #f2dede !important;
    border: 1px solid #EED3D7 !important;
}*/

/*
 * Call out styling, credit to: https://cpratt.co/twitter-bootstrap-callout-css-styles/
 */

.bs-callout {
    margin: 20px 0;
    padding: 15px 20px 15px 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/*
 *
 */

.shift-row-head > pre {
  margin:0;
  padding:0;
}

.shift-cell {
    width: 25px;
    text-align: center;
}

.modal-open {
  padding-right: 0 !important;
  overflow-y: scroll;
}
