body {
	padding-top: 70px;
}
.modal-header, .modal-body, .modal-footer{
	padding: 25px;
}
.modal-footer{
	text-align: center;
}

/*
 * Call out styling, credit to: https://cpratt.co/twitter-bootstrap-callout-css-styles/
 */

.bs-callout {
    margin: 20px 0;
    padding: 15px 20px 15px 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/*
 *
 */

.modal-open {
  padding-right: 0 !important;
  overflow-y: scroll;
}

/*
 *
 */

.form-section {
	padding-left: 15px;
  border-left: 2px solid #FF851B;
  display: none;
}

.form-section.current {
  display: inherit;
}

#nc-select, #cn-select {
  max-height: 150px;
}

#float-rn-select, #apod-rn-select, #bpod-rn-select, #cpod-rn-select, #outreach-rn-select, #na-select, #uc-select {
  max-height: 300px;
}

#float-rn-select-group {
	display: none;
}

div.staff-select-group {
  overflow-y: scroll;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid lightgrey;
}

div.inner-item:not(:last-child) {
  border-collapse: collapse;
  border-bottom: 1px solid lightgrey;
}

.dropdown-toggle::after {
    display: none;
}

#shift-table td, #shift-table th {
	text-align: center;
}

/*
 */

.shift-item-edit {
	display: none;
}

/*
 */

 #sidebar.affix-top {
	position: static;
	margin-top:30px;
	width:228px;
}

#sidebar.affix {
	position: fixed;
	top:70px;
	width:228px;
}

@media only screen and (max-width: 974px) {
	#right-col {
		display: none;
	}
}
